h1 {
  color:blue
}
.center
{
margin-left: auto;
margin-right: auto;
}
body {
  background-color: lightblue;
}
table, th, td {
  border: 3px solid rgb(230, 165, 230);
}
.center {
  font-family: "Arial", Times, sans-serif;
}
//hola